---
layout: default
url: https://bertranddechoux.github.io/OrganicBuilder
title: Explanation
description: Java simulation of evolution -the process in which natural selection and mutation can lead to complex, sophisticated design- using artificial chemistry.
---

{% include head.html url=url title=title description=description %}

    <body>
	<div id="conteneur">
{% include header.html %}
		
		<div id="contenu"><h2>Presentation</h2>
	<h3>What is this?</h3>
		<img src="img/atoms.gif" width="300" height="300" style="float:left;margin:0% 2% 0% 0%;border:0;" alt="atoms"/>
		<p>This freeware demonstrates an artificial chemistry. Each circle is an atom, that floats around and can become bonded to others to form a molecule.</p>
		<p>In real chemistry, the bonding rules are written like this <span class="reaction">6*(CO<sub>2</sub>) + 6*(H<sub>2</sub>O) + light =&gt; C<sub>6</sub>H<sub>12</sub>O<sub>6</sub> + 6*(O<sub>2</sub>)</span>, where carbon dioxide and water (six of each) react (in the presence of light) to form glucose and oxygen. This is the reaction that plants use to photosynthesise.</p>
		<p>In an <i>artificial</i> chemistry we use simpler rules, like this one <span class="reaction">a0 + b0 =&gt; a1b2</span>, rather than use the atomic types seen in nature (hydrogen, oxygen, etc.), we use arbitrary letters: '<span class="atype">a</span>', '<span class="btype">b</span>', '<span class="ctype">c</span>', '<span class="dtype">d</span>', '<span class="etype">e</span>' and '<span class="ftype">f</span>'.</p>
		<p>And rather than have complicated rules for determining which molecules will react, based on charge, valency and shape, we use the state number (0, 1, 2, ...) to decide if the reactants match. For example, in the reaction above, two atoms <span class="atype">a</span>0 and <span class="btype">b</span>0 will become bonded, and the '<span class="atype">a</span>' atom will take on state 1 and the '<span class="btype">b</span>' atom state 2. They could each be bonded to different atoms at the time, that doesn't matter. The types of the atoms can't change (like in real chemistry), just their states.</p>
		<p>And rather than worry about energy considerations, we assume that if a reaction rule is present then it is energetically favourable. All of these changes leave you with a very simple system but one in which you can still do some very interesting things. If you have come across <a href="http://en.wikipedia.org/wiki/Cellular_automaton">cellular automata</a> then the system will be somewhat familiar.</p>
	<h3>Why do all this?</h3>
		<p>The reason for using a strange abstraction of chemistry like this is that you can do some really cool things in a simple system. This freeware takes you through some of the possibilities.</p>
		<p>Perhaps the coolest thing you can do is template replication - the process DNA uses to make copies of itself. If you choose the right rules you can actually get this working - follow through the challenges to find out how.</p>
		<p>The reason for using a spatial system, with atoms bouncing off each other, is that you can then do things like make a membrane out of atoms, and use it to make compartments in the space. Again, some of the challenges explore this idea.</p>
</div>		


		<hr/>
{% include footer.html url=url %}
	</div>
    </body>


