<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% include head.html
	url="https://bertranddechoux.github.io/OrganicBuilder/resources"
	title="Resources"
	description="Some related links. Any missing information? Contact us!"
%}

    <body>
	<div id="conteneur">		
{% include header.html %}
		
		<div id="contenu"><h2>Resources</h2>
	<h3>Further reading</h3> 
		<p>There are lots of artificial chemistries, with varying levels of closeness to real chemistry. A <a href="http://citeseer.ist.psu.edu/613242.html">review paper</a> in 2001 surveyed the literature at the time. Google for <a href="http://www.google.co.uk/search?hl=en&amp;q=artificial+chemistry">artificial chemistry</a> to find more.</p>
		<p>For artificial chemistries closely related to the one explored here, you are invited to read <a href="http://www.sq3.org.uk/wiki.pl?Papers">Tim J. Hutton's papers</a>.</p>
	<h3>Questions?</h3>
		<p>If you have any questions, post a message to the <a href="http://groups.google.com/group/organicbuilder">discussion forum</a>, or email <a href="mailto:tim.hutton@gmail.com">tim.hutton@gmail.com</a> or <a href="mailto:dechouxbREMOVE@gmail.com">dechouxbREMOVE@gmail.com</a>.</p>
</div>		
		
		<hr/>
{% include footer.html url="https://bertranddechoux.github.io/OrganicBuilder/resources" %}
	</div>
    </body>
</html>

