---
layout: default
url: https://bertranddechoux.github.io/OrganicBuilder/try
title: Get it, try it
description: Get or test Organic Builder. And give us feedback.
---

{% include head.html url=url title=title description=description %}

    <body>
	<div id="conteneur">		
{% include header.html %}
		
		<div id="contenu"><h2>Get it, try it</h2>
	<p>This software has been built using the <a href="http://en.wikipedia.org/wiki/Java_Programming_Language_language">java language</a>. In order to successfully run it, you will need to have a Java Virtual Machine installed, 1.8.0+ compliant. <a href="http://www.java.com/en/download/help/testvm.xml">Check now your browser support.</a></p>
		
	<p>Being packaged as *.jar, the software can either be launched</p>
	<ul>
		<li>with Java Web Start (<a href="http://en.wikipedia.org/wiki/Java_Web_Start">What is Java Web Start?</a>)</li>
		<li>as an Applet : (<a href="http://en.wikipedia.org/wiki/Java_applet">What is an applet?</a>)</li>
		<li>by <a href="http://sourceforge.net/project/showfiles.php?group_id=167168">downloading the latest release</a> and double-clicking on it</li>
		<li>by <a href="http://sourceforge.net/project/showfiles.php?group_id=167168">downloading the latest release</a> and typing in your shell <span class="command">java -jar downloadedJarFileName</span></li>
	</ul>
	
	<p>Launch right now using</p>
	<ul>
		<li>Java Web Start : <a href="launch/jws_en.jnlp">in english</a> or <a href="launch/jws_fr.jnlp">in french</a></li>
		<li>Applet : <a href="launch/applet_en">in english</a> or <a href="launch/applet_fr">in french</a></li>
	</ul>

	<p>If you want to look at the source codes, they can be found in the latest release and at <a href="https://github.com/BertrandDechoux/OrganicBuilder">github</a>.</p>
</div>		
		
		<hr/>
{% include footer.html url=url %}
	</div>
    </body>


