		<p id="footer">
			<a href="https://validator.w3.org/check?uri=referer">
				<img src="img/valid-xhtml10.png"
				alt="Valid XHTML 1.0 Strict"
				height="31" width="88"
				style="border:0;margin:0;padding:5px;float:left;"/>
			</a>
			<a href="https://jigsaw.w3.org/css-validator/check/referer">
				<img style="border:0;width:88px;height:31px;margin:5px;float:left;"
					src="img/vcss.gif"
					alt="Valid CSS!" />
			</a>
			<a href="https://github.com/BertrandDechoux/OrganicBuilder" style="float:right">
				<img src="img/github-logo.jpg"
				alt="Get Organic Builder at Github.com. Build software better, together."
				width="120" height="40"
				style="border:0;margin:0;padding:5px;" /></a>
			<span style="float:right;display:block;margin:10px;">Organic Builder is hosted by </span>
			<span style="display:block;clear:both;"></span>
		</p>