<!--
	Original XHTML/CSS files from Olivier Patry,
	http://www.alsacreations.com/tuto/lire/555-design-css.html
-->
		<h1 id="header">
			<a href="https://bertranddechoux.github.io/OrganicBuilder/" title="Organic Builder - Home">
				<span>Organic Builder</span>
			</a>
		</h1>
		<h2 id="abstract">
			"Make up our own rules of construction to simulate open-ended, creative evolution. Forget all that chemistry they made you learn in school, we're going to make it all up as we go along. "
		</h2>
		<ul id="menu">
			<li><a href="https://bertranddechoux.github.io/OrganicBuilder/">Presentation</a></li>
			<li><a href="https://bertranddechoux.github.io/OrganicBuilder/try">Get it, try it</a></li>
			<li><a href="https://bertranddechoux.github.io/OrganicBuilder/documentation">Documentation</a></li>
			<li><a href="https://bertranddechoux.github.io/OrganicBuilder/resources">Resources</a></li>
		</ul>